{% extends 'ecom/admin_base.html' %}
{% load static %}
	  <link rel="stylesheet" href={% static 'css/setting.css' %}>
{% block title %}view booking {% endblock title %}
{% block content %}

<!-- start main content -->
<main class="main-container">
<!-- compare content -->
	<!-- Main content starts -->

	<div class="main-block">

		<div class="container">

			<!-- Actual content -->
			<div class="ecommerce pt-40">
      <h3 class="nomargin">Total Orders </h3>
			          	<div class="row">
			                    	<div class="col-md-12 col-sm-12">
			                    		<!-- Shopping items content -->
                                      <div class="shopping-content">
	                                    <!-- Block Title -->
                                      <!-- Shopping Edit Profile -->
                                                <div class="shopping-wishlist">
                                                	<!-- Recent Purchase Table -->
                                                	        <div class=" table-responsive">
                                                	              <table class="table table-bordered">
			                                                          <!-- Table Header -->
                                                                          <thead>
                                                                                     <tr>
                                                                                            <th>Customer Name</th>
                                                                                            <th>Customer Mobile</th>
                                                                                            <th>Shipment Address</th>
                                                                                            <th>Product Name</th>
                                                                                            <th>Product Picture</th>
                                                                                            <th>Categories</th>
                                                                                           
                                                                                            <th>Status</th>
                                                                                            <th>Upadte && Delete</th>
                                                                                     </tr>
                                                                           </thead> 
                                                                           <tbody>
                                                                              <!-- p for product, c for customer-->
                                                                      {% for product,customer,order in data %}
                                                                             <tr>
                                                                               {% for c in customer %}
                                                                               <td> {{c.get_name}}</td>
                                                                               <td>{{c.mobile}}</td>
                                                                               <td>{{order.address}}</td>
                                                                               {% endfor %}  
                                                                               {% for p in product %}
                                                                                <td> {{p.name}}</td>
                                                                                <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                                                                                <td>{{p.categorie}}</td>
                                                                                <td>{{order.status}}</td>

                                                                                <td>
                                                                                    <div class="btn-group btn-group-xs">
                                                                                           <button class="btn btn-sm btn-default" onclick="location.href='{% url 'update-order' order.id  %}'"><i class="fa fa-edit"></i></button>
                                                                                           <button class="btn btn-sm btn-red" onclick="location.href='{% url 'delete-order' order.id  %}'"><i class="fa fa-trash-o"></i></button>
                                                                                    </div>
                                                                                </td>

                                                                                {% endfor %}
                                                                             </tr>
                                                                      {% endfor %}  
                                                                      <tbody>                                          
                                                                 </table>
                                                          </div>
                                                  </div>
                                      </div>
                          </div>
                
                </div>
     </div>
  </div>



<br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>

{% endblock content %}



